ClientHospitalApp/ClientHospitalApp/Connected Services/ServiceReferenceDAOLayer/WebServiceHospital.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDataPatient">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IdPatient" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDataPatientResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDataPatientResult" type="tns:Patient" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Patient">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID_Patient" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Lastname" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Firstname" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DOB" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="SSN" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ID_Gender" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="relativeList" type="tns:ArrayOfInt" />
          <s:element minOccurs="0" maxOccurs="1" name="orderOfPatientList" type="tns:ArrayOfInt" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfInt">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="int" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="SavePatient">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="patient" type="tns:Patient" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SavePatientResponse">
        <s:complexType />
      </s:element>
      <s:element name="UpdatePatient">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="patient" type="tns:Patient" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdatePatientResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetDataGender">
        <s:complexType />
      </s:element>
      <s:element name="GetDataGenderResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDataGenderResult" type="tns:ArrayOfGender" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfGender">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Gender" nillable="true" type="tns:Gender" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Gender">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID_Gender" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="GenderName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="patientList" type="tns:ArrayOfInt" />
          <s:element minOccurs="0" maxOccurs="1" name="relativeList" type="tns:ArrayOfInt" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetDataRelative">
        <s:complexType />
      </s:element>
      <s:element name="GetDataRelativeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDataRelativeResult" type="tns:ArrayOfRelative" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfRelative">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Relative" nillable="true" type="tns:Relative" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Relative">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID_Relative" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Lastname" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Firstname" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DOB" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="KindOfRelationship" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ID_Patient" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ID_Gender" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="SaveRelative">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="relative" type="tns:Relative" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveRelativeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SaveRelativeResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDataAllPatients">
        <s:complexType />
      </s:element>
      <s:element name="GetDataAllPatientsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDataAllPatientsResult" type="tns:ArrayOfPatient" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfPatient">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Patient" nillable="true" type="tns:Patient" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetDataOrder">
        <s:complexType />
      </s:element>
      <s:element name="GetDataOrderResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDataOrderResult" type="tns:OrderOfPatient" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="OrderOfPatient">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID_Order" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="DateOrder" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="Symptoms" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ID_Patient" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ID_Doctor" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ID_OrderStatus" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="specimentsInOrderList" type="tns:ArrayOfInt" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetDataSpeciment">
        <s:complexType />
      </s:element>
      <s:element name="GetDataSpecimentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDataSpecimentResult" type="tns:SpecimentsInOrder" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="SpecimentsInOrder">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID_SpecimentOrder" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ID_Order" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ID_Speciment" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ID_SpecimentStatus" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="DateOfTaking" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="Nurse" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="testsInOrderList" type="tns:ArrayOfInt" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="GetDataPatientSoapIn">
    <wsdl:part name="parameters" element="tns:GetDataPatient" />
  </wsdl:message>
  <wsdl:message name="GetDataPatientSoapOut">
    <wsdl:part name="parameters" element="tns:GetDataPatientResponse" />
  </wsdl:message>
  <wsdl:message name="SavePatientSoapIn">
    <wsdl:part name="parameters" element="tns:SavePatient" />
  </wsdl:message>
  <wsdl:message name="SavePatientSoapOut">
    <wsdl:part name="parameters" element="tns:SavePatientResponse" />
  </wsdl:message>
  <wsdl:message name="UpdatePatientSoapIn">
    <wsdl:part name="parameters" element="tns:UpdatePatient" />
  </wsdl:message>
  <wsdl:message name="UpdatePatientSoapOut">
    <wsdl:part name="parameters" element="tns:UpdatePatientResponse" />
  </wsdl:message>
  <wsdl:message name="GetDataGenderSoapIn">
    <wsdl:part name="parameters" element="tns:GetDataGender" />
  </wsdl:message>
  <wsdl:message name="GetDataGenderSoapOut">
    <wsdl:part name="parameters" element="tns:GetDataGenderResponse" />
  </wsdl:message>
  <wsdl:message name="GetDataRelativeSoapIn">
    <wsdl:part name="parameters" element="tns:GetDataRelative" />
  </wsdl:message>
  <wsdl:message name="GetDataRelativeSoapOut">
    <wsdl:part name="parameters" element="tns:GetDataRelativeResponse" />
  </wsdl:message>
  <wsdl:message name="SaveRelativeSoapIn">
    <wsdl:part name="parameters" element="tns:SaveRelative" />
  </wsdl:message>
  <wsdl:message name="SaveRelativeSoapOut">
    <wsdl:part name="parameters" element="tns:SaveRelativeResponse" />
  </wsdl:message>
  <wsdl:message name="GetDataAllPatientsSoapIn">
    <wsdl:part name="parameters" element="tns:GetDataAllPatients" />
  </wsdl:message>
  <wsdl:message name="GetDataAllPatientsSoapOut">
    <wsdl:part name="parameters" element="tns:GetDataAllPatientsResponse" />
  </wsdl:message>
  <wsdl:message name="GetDataOrderSoapIn">
    <wsdl:part name="parameters" element="tns:GetDataOrder" />
  </wsdl:message>
  <wsdl:message name="GetDataOrderSoapOut">
    <wsdl:part name="parameters" element="tns:GetDataOrderResponse" />
  </wsdl:message>
  <wsdl:message name="GetDataSpecimentSoapIn">
    <wsdl:part name="parameters" element="tns:GetDataSpeciment" />
  </wsdl:message>
  <wsdl:message name="GetDataSpecimentSoapOut">
    <wsdl:part name="parameters" element="tns:GetDataSpecimentResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServiceHospitalSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDataPatient">
      <wsdl:input message="tns:GetDataPatientSoapIn" />
      <wsdl:output message="tns:GetDataPatientSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SavePatient">
      <wsdl:input message="tns:SavePatientSoapIn" />
      <wsdl:output message="tns:SavePatientSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdatePatient">
      <wsdl:input message="tns:UpdatePatientSoapIn" />
      <wsdl:output message="tns:UpdatePatientSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDataGender">
      <wsdl:input message="tns:GetDataGenderSoapIn" />
      <wsdl:output message="tns:GetDataGenderSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDataRelative">
      <wsdl:input message="tns:GetDataRelativeSoapIn" />
      <wsdl:output message="tns:GetDataRelativeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SaveRelative">
      <wsdl:input message="tns:SaveRelativeSoapIn" />
      <wsdl:output message="tns:SaveRelativeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDataAllPatients">
      <wsdl:input message="tns:GetDataAllPatientsSoapIn" />
      <wsdl:output message="tns:GetDataAllPatientsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDataOrder">
      <wsdl:input message="tns:GetDataOrderSoapIn" />
      <wsdl:output message="tns:GetDataOrderSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDataSpeciment">
      <wsdl:input message="tns:GetDataSpecimentSoapIn" />
      <wsdl:output message="tns:GetDataSpecimentSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceHospitalSoap" type="tns:WebServiceHospitalSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataPatient">
      <soap:operation soapAction="http://tempuri.org/GetDataPatient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SavePatient">
      <soap:operation soapAction="http://tempuri.org/SavePatient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePatient">
      <soap:operation soapAction="http://tempuri.org/UpdatePatient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataGender">
      <soap:operation soapAction="http://tempuri.org/GetDataGender" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataRelative">
      <soap:operation soapAction="http://tempuri.org/GetDataRelative" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveRelative">
      <soap:operation soapAction="http://tempuri.org/SaveRelative" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataAllPatients">
      <soap:operation soapAction="http://tempuri.org/GetDataAllPatients" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataOrder">
      <soap:operation soapAction="http://tempuri.org/GetDataOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataSpeciment">
      <soap:operation soapAction="http://tempuri.org/GetDataSpeciment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceHospitalSoap12" type="tns:WebServiceHospitalSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataPatient">
      <soap12:operation soapAction="http://tempuri.org/GetDataPatient" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SavePatient">
      <soap12:operation soapAction="http://tempuri.org/SavePatient" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePatient">
      <soap12:operation soapAction="http://tempuri.org/UpdatePatient" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataGender">
      <soap12:operation soapAction="http://tempuri.org/GetDataGender" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataRelative">
      <soap12:operation soapAction="http://tempuri.org/GetDataRelative" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveRelative">
      <soap12:operation soapAction="http://tempuri.org/SaveRelative" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataAllPatients">
      <soap12:operation soapAction="http://tempuri.org/GetDataAllPatients" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataOrder">
      <soap12:operation soapAction="http://tempuri.org/GetDataOrder" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataSpeciment">
      <soap12:operation soapAction="http://tempuri.org/GetDataSpeciment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebServiceHospital">
    <wsdl:port name="WebServiceHospitalSoap" binding="tns:WebServiceHospitalSoap">
      <soap:address location="https://localhost:44332/WebServiceHospital.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceHospitalSoap12" binding="tns:WebServiceHospitalSoap12">
      <soap12:address location="https://localhost:44332/WebServiceHospital.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>