ClientHospitalApp/ClientHospitalApp/Connected Services/ServiceReferenceDAOLayer/WebServiceHospital.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDataPatient">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IdPatient" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDataPatientResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDataPatientResult" type="tns:Patient" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Patient">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID_Patient" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Lastname" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Firstname" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DOB" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="SSN" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Gender" type="tns:Gender" />
          <s:element minOccurs="0" maxOccurs="1" name="relativeList" type="tns:ArrayOfInt" />
          <s:element minOccurs="0" maxOccurs="1" name="orderOfPatientList" type="tns:ArrayOfInt" />
          <s:element minOccurs="1" maxOccurs="1" name="Status" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Gender">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID_Gender" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="GenderName" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfInt">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="int" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="AddPatient">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="listPatients" type="tns:ArrayOfPatient" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfPatient">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Patient" nillable="true" type="tns:Patient" />
        </s:sequence>
      </s:complexType>
      <s:element name="AddPatientResponse">
        <s:complexType />
      </s:element>
      <s:element name="UpdatePatient">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="listPatients" type="tns:ArrayOfPatient" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdatePatientResponse">
        <s:complexType />
      </s:element>
      <s:element name="DeletePatient">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="listPatients" type="tns:ArrayOfPatient" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeletePatientResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetDataGender">
        <s:complexType />
      </s:element>
      <s:element name="GetDataGenderResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDataGenderResult" type="tns:ArrayOfGender" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfGender">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Gender" nillable="true" type="tns:Gender" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetRelativesOfPatient">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="patient" type="tns:Patient" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetRelativesOfPatientResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetRelativesOfPatientResult" type="tns:ArrayOfRelative" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfRelative">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Relative" nillable="true" type="tns:Relative" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Relative">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID_Relative" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Lastname" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Firstname" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DOB" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="KindOfRelationship" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ID_Patient" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ID_Gender" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Status" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="SaveRelative">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="relative" type="tns:Relative" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveRelativeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SaveRelativeResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDataAllPatients">
        <s:complexType />
      </s:element>
      <s:element name="GetDataAllPatientsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDataAllPatientsResult" type="tns:ArrayOfPatient" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDataOrder">
        <s:complexType />
      </s:element>
      <s:element name="GetDataOrderResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDataOrderResult" type="tns:OrderOfPatient" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="OrderOfPatient">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID_Order" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="DateOrder" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="Symptoms" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ID_Patient" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ID_Doctor" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ID_OrderStatus" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="specimentsInOrderList" type="tns:ArrayOfInt" />
          <s:element minOccurs="1" maxOccurs="1" name="Status" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetDataSpeciment">
        <s:complexType />
      </s:element>
      <s:element name="GetDataSpecimentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDataSpecimentResult" type="tns:SpecimentsInOrder" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="SpecimentsInOrder">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID_SpecimentOrder" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Speciment" type="tns:Speciment" />
          <s:element minOccurs="0" maxOccurs="1" name="SpecimentStatus" type="tns:SpecimentStatus" />
          <s:element minOccurs="1" maxOccurs="1" name="DateOfTaking" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="Order" type="tns:OrderOfPatient" />
          <s:element minOccurs="0" maxOccurs="1" name="Nurse" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="testsInOrderList" type="tns:ArrayOfInt" />
          <s:element minOccurs="1" maxOccurs="1" name="Status" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Speciment">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID_Speciment" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="SpecimentName" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SpecimentStatus">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID_SpecimentStatus" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="SpecimentStatusName" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetDataAllSpeciments">
        <s:complexType />
      </s:element>
      <s:element name="GetDataAllSpecimentsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDataAllSpecimentsResult" type="tns:ArrayOfSpecimentsInOrder" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfSpecimentsInOrder">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="SpecimentsInOrder" nillable="true" type="tns:SpecimentsInOrder" />
        </s:sequence>
      </s:complexType>
      <s:element name="AddSpeciment">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="listSpeciments" type="tns:ArrayOfSpecimentsInOrder" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddSpecimentResponse">
        <s:complexType />
      </s:element>
      <s:element name="UpdateSpeciment">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="listSpeciments" type="tns:ArrayOfSpecimentsInOrder" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateSpecimentResponse">
        <s:complexType />
      </s:element>
      <s:element name="DeleteSpeciment">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="listSpeciments" type="tns:ArrayOfSpecimentsInOrder" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteSpecimentResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetDataSpecimentName">
        <s:complexType />
      </s:element>
      <s:element name="GetDataSpecimentNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDataSpecimentNameResult" type="tns:ArrayOfSpeciment" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfSpeciment">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Speciment" nillable="true" type="tns:Speciment" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetDataSpecimentStatus">
        <s:complexType />
      </s:element>
      <s:element name="GetDataSpecimentStatusResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDataSpecimentStatusResult" type="tns:ArrayOfSpecimentStatus" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfSpecimentStatus">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="SpecimentStatus" nillable="true" type="tns:SpecimentStatus" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetDataAllOrders">
        <s:complexType />
      </s:element>
      <s:element name="GetDataAllOrdersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDataAllOrdersResult" type="tns:ArrayOfOrderOfPatient" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfOrderOfPatient">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="OrderOfPatient" nillable="true" type="tns:OrderOfPatient" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetDataAllTests">
        <s:complexType />
      </s:element>
      <s:element name="GetDataAllTestsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDataAllTestsResult" type="tns:ArrayOfTestsInOrder" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfTestsInOrder">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="TestsInOrder" nillable="true" type="tns:TestsInOrder" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="TestsInOrder">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID_TestOrder" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ID_Test" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="DateStart" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="DateEnd" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="ID_TestStatus" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Result" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="specimentsInOrderList" type="tns:ArrayOfInt" />
          <s:element minOccurs="1" maxOccurs="1" name="Status" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="AddTest">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="listTests" type="tns:ArrayOfTestsInOrder" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddTestResponse">
        <s:complexType />
      </s:element>
      <s:element name="UpdateTest">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="listTests" type="tns:ArrayOfTestsInOrder" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateTestResponse">
        <s:complexType />
      </s:element>
      <s:element name="DeleteTest">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="listTests" type="tns:ArrayOfTestsInOrder" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteTestResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="GetDataPatientSoapIn">
    <wsdl:part name="parameters" element="tns:GetDataPatient" />
  </wsdl:message>
  <wsdl:message name="GetDataPatientSoapOut">
    <wsdl:part name="parameters" element="tns:GetDataPatientResponse" />
  </wsdl:message>
  <wsdl:message name="AddPatientSoapIn">
    <wsdl:part name="parameters" element="tns:AddPatient" />
  </wsdl:message>
  <wsdl:message name="AddPatientSoapOut">
    <wsdl:part name="parameters" element="tns:AddPatientResponse" />
  </wsdl:message>
  <wsdl:message name="UpdatePatientSoapIn">
    <wsdl:part name="parameters" element="tns:UpdatePatient" />
  </wsdl:message>
  <wsdl:message name="UpdatePatientSoapOut">
    <wsdl:part name="parameters" element="tns:UpdatePatientResponse" />
  </wsdl:message>
  <wsdl:message name="DeletePatientSoapIn">
    <wsdl:part name="parameters" element="tns:DeletePatient" />
  </wsdl:message>
  <wsdl:message name="DeletePatientSoapOut">
    <wsdl:part name="parameters" element="tns:DeletePatientResponse" />
  </wsdl:message>
  <wsdl:message name="GetDataGenderSoapIn">
    <wsdl:part name="parameters" element="tns:GetDataGender" />
  </wsdl:message>
  <wsdl:message name="GetDataGenderSoapOut">
    <wsdl:part name="parameters" element="tns:GetDataGenderResponse" />
  </wsdl:message>
  <wsdl:message name="GetRelativesOfPatientSoapIn">
    <wsdl:part name="parameters" element="tns:GetRelativesOfPatient" />
  </wsdl:message>
  <wsdl:message name="GetRelativesOfPatientSoapOut">
    <wsdl:part name="parameters" element="tns:GetRelativesOfPatientResponse" />
  </wsdl:message>
  <wsdl:message name="SaveRelativeSoapIn">
    <wsdl:part name="parameters" element="tns:SaveRelative" />
  </wsdl:message>
  <wsdl:message name="SaveRelativeSoapOut">
    <wsdl:part name="parameters" element="tns:SaveRelativeResponse" />
  </wsdl:message>
  <wsdl:message name="GetDataAllPatientsSoapIn">
    <wsdl:part name="parameters" element="tns:GetDataAllPatients" />
  </wsdl:message>
  <wsdl:message name="GetDataAllPatientsSoapOut">
    <wsdl:part name="parameters" element="tns:GetDataAllPatientsResponse" />
  </wsdl:message>
  <wsdl:message name="GetDataOrderSoapIn">
    <wsdl:part name="parameters" element="tns:GetDataOrder" />
  </wsdl:message>
  <wsdl:message name="GetDataOrderSoapOut">
    <wsdl:part name="parameters" element="tns:GetDataOrderResponse" />
  </wsdl:message>
  <wsdl:message name="GetDataSpecimentSoapIn">
    <wsdl:part name="parameters" element="tns:GetDataSpeciment" />
  </wsdl:message>
  <wsdl:message name="GetDataSpecimentSoapOut">
    <wsdl:part name="parameters" element="tns:GetDataSpecimentResponse" />
  </wsdl:message>
  <wsdl:message name="GetDataAllSpecimentsSoapIn">
    <wsdl:part name="parameters" element="tns:GetDataAllSpeciments" />
  </wsdl:message>
  <wsdl:message name="GetDataAllSpecimentsSoapOut">
    <wsdl:part name="parameters" element="tns:GetDataAllSpecimentsResponse" />
  </wsdl:message>
  <wsdl:message name="AddSpecimentSoapIn">
    <wsdl:part name="parameters" element="tns:AddSpeciment" />
  </wsdl:message>
  <wsdl:message name="AddSpecimentSoapOut">
    <wsdl:part name="parameters" element="tns:AddSpecimentResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateSpecimentSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateSpeciment" />
  </wsdl:message>
  <wsdl:message name="UpdateSpecimentSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateSpecimentResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteSpecimentSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteSpeciment" />
  </wsdl:message>
  <wsdl:message name="DeleteSpecimentSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteSpecimentResponse" />
  </wsdl:message>
  <wsdl:message name="GetDataSpecimentNameSoapIn">
    <wsdl:part name="parameters" element="tns:GetDataSpecimentName" />
  </wsdl:message>
  <wsdl:message name="GetDataSpecimentNameSoapOut">
    <wsdl:part name="parameters" element="tns:GetDataSpecimentNameResponse" />
  </wsdl:message>
  <wsdl:message name="GetDataSpecimentStatusSoapIn">
    <wsdl:part name="parameters" element="tns:GetDataSpecimentStatus" />
  </wsdl:message>
  <wsdl:message name="GetDataSpecimentStatusSoapOut">
    <wsdl:part name="parameters" element="tns:GetDataSpecimentStatusResponse" />
  </wsdl:message>
  <wsdl:message name="GetDataAllOrdersSoapIn">
    <wsdl:part name="parameters" element="tns:GetDataAllOrders" />
  </wsdl:message>
  <wsdl:message name="GetDataAllOrdersSoapOut">
    <wsdl:part name="parameters" element="tns:GetDataAllOrdersResponse" />
  </wsdl:message>
  <wsdl:message name="GetDataAllTestsSoapIn">
    <wsdl:part name="parameters" element="tns:GetDataAllTests" />
  </wsdl:message>
  <wsdl:message name="GetDataAllTestsSoapOut">
    <wsdl:part name="parameters" element="tns:GetDataAllTestsResponse" />
  </wsdl:message>
  <wsdl:message name="AddTestSoapIn">
    <wsdl:part name="parameters" element="tns:AddTest" />
  </wsdl:message>
  <wsdl:message name="AddTestSoapOut">
    <wsdl:part name="parameters" element="tns:AddTestResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateTestSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateTest" />
  </wsdl:message>
  <wsdl:message name="UpdateTestSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateTestResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteTestSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteTest" />
  </wsdl:message>
  <wsdl:message name="DeleteTestSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteTestResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServiceHospitalSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDataPatient">
      <wsdl:input message="tns:GetDataPatientSoapIn" />
      <wsdl:output message="tns:GetDataPatientSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddPatient">
      <wsdl:input message="tns:AddPatientSoapIn" />
      <wsdl:output message="tns:AddPatientSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdatePatient">
      <wsdl:input message="tns:UpdatePatientSoapIn" />
      <wsdl:output message="tns:UpdatePatientSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeletePatient">
      <wsdl:input message="tns:DeletePatientSoapIn" />
      <wsdl:output message="tns:DeletePatientSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDataGender">
      <wsdl:input message="tns:GetDataGenderSoapIn" />
      <wsdl:output message="tns:GetDataGenderSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetRelativesOfPatient">
      <wsdl:input message="tns:GetRelativesOfPatientSoapIn" />
      <wsdl:output message="tns:GetRelativesOfPatientSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SaveRelative">
      <wsdl:input message="tns:SaveRelativeSoapIn" />
      <wsdl:output message="tns:SaveRelativeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDataAllPatients">
      <wsdl:input message="tns:GetDataAllPatientsSoapIn" />
      <wsdl:output message="tns:GetDataAllPatientsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDataOrder">
      <wsdl:input message="tns:GetDataOrderSoapIn" />
      <wsdl:output message="tns:GetDataOrderSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDataSpeciment">
      <wsdl:input message="tns:GetDataSpecimentSoapIn" />
      <wsdl:output message="tns:GetDataSpecimentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDataAllSpeciments">
      <wsdl:input message="tns:GetDataAllSpecimentsSoapIn" />
      <wsdl:output message="tns:GetDataAllSpecimentsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddSpeciment">
      <wsdl:input message="tns:AddSpecimentSoapIn" />
      <wsdl:output message="tns:AddSpecimentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateSpeciment">
      <wsdl:input message="tns:UpdateSpecimentSoapIn" />
      <wsdl:output message="tns:UpdateSpecimentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteSpeciment">
      <wsdl:input message="tns:DeleteSpecimentSoapIn" />
      <wsdl:output message="tns:DeleteSpecimentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDataSpecimentName">
      <wsdl:input message="tns:GetDataSpecimentNameSoapIn" />
      <wsdl:output message="tns:GetDataSpecimentNameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDataSpecimentStatus">
      <wsdl:input message="tns:GetDataSpecimentStatusSoapIn" />
      <wsdl:output message="tns:GetDataSpecimentStatusSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDataAllOrders">
      <wsdl:input message="tns:GetDataAllOrdersSoapIn" />
      <wsdl:output message="tns:GetDataAllOrdersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDataAllTests">
      <wsdl:input message="tns:GetDataAllTestsSoapIn" />
      <wsdl:output message="tns:GetDataAllTestsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddTest">
      <wsdl:input message="tns:AddTestSoapIn" />
      <wsdl:output message="tns:AddTestSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateTest">
      <wsdl:input message="tns:UpdateTestSoapIn" />
      <wsdl:output message="tns:UpdateTestSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteTest">
      <wsdl:input message="tns:DeleteTestSoapIn" />
      <wsdl:output message="tns:DeleteTestSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceHospitalSoap" type="tns:WebServiceHospitalSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataPatient">
      <soap:operation soapAction="http://tempuri.org/GetDataPatient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddPatient">
      <soap:operation soapAction="http://tempuri.org/AddPatient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePatient">
      <soap:operation soapAction="http://tempuri.org/UpdatePatient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeletePatient">
      <soap:operation soapAction="http://tempuri.org/DeletePatient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataGender">
      <soap:operation soapAction="http://tempuri.org/GetDataGender" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRelativesOfPatient">
      <soap:operation soapAction="http://tempuri.org/GetRelativesOfPatient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveRelative">
      <soap:operation soapAction="http://tempuri.org/SaveRelative" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataAllPatients">
      <soap:operation soapAction="http://tempuri.org/GetDataAllPatients" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataOrder">
      <soap:operation soapAction="http://tempuri.org/GetDataOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataSpeciment">
      <soap:operation soapAction="http://tempuri.org/GetDataSpeciment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataAllSpeciments">
      <soap:operation soapAction="http://tempuri.org/GetDataAllSpeciments" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddSpeciment">
      <soap:operation soapAction="http://tempuri.org/AddSpeciment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateSpeciment">
      <soap:operation soapAction="http://tempuri.org/UpdateSpeciment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteSpeciment">
      <soap:operation soapAction="http://tempuri.org/DeleteSpeciment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataSpecimentName">
      <soap:operation soapAction="http://tempuri.org/GetDataSpecimentName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataSpecimentStatus">
      <soap:operation soapAction="http://tempuri.org/GetDataSpecimentStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataAllOrders">
      <soap:operation soapAction="http://tempuri.org/GetDataAllOrders" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataAllTests">
      <soap:operation soapAction="http://tempuri.org/GetDataAllTests" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddTest">
      <soap:operation soapAction="http://tempuri.org/AddTest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateTest">
      <soap:operation soapAction="http://tempuri.org/UpdateTest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteTest">
      <soap:operation soapAction="http://tempuri.org/DeleteTest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceHospitalSoap12" type="tns:WebServiceHospitalSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataPatient">
      <soap12:operation soapAction="http://tempuri.org/GetDataPatient" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddPatient">
      <soap12:operation soapAction="http://tempuri.org/AddPatient" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePatient">
      <soap12:operation soapAction="http://tempuri.org/UpdatePatient" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeletePatient">
      <soap12:operation soapAction="http://tempuri.org/DeletePatient" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataGender">
      <soap12:operation soapAction="http://tempuri.org/GetDataGender" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRelativesOfPatient">
      <soap12:operation soapAction="http://tempuri.org/GetRelativesOfPatient" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveRelative">
      <soap12:operation soapAction="http://tempuri.org/SaveRelative" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataAllPatients">
      <soap12:operation soapAction="http://tempuri.org/GetDataAllPatients" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataOrder">
      <soap12:operation soapAction="http://tempuri.org/GetDataOrder" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataSpeciment">
      <soap12:operation soapAction="http://tempuri.org/GetDataSpeciment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataAllSpeciments">
      <soap12:operation soapAction="http://tempuri.org/GetDataAllSpeciments" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddSpeciment">
      <soap12:operation soapAction="http://tempuri.org/AddSpeciment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateSpeciment">
      <soap12:operation soapAction="http://tempuri.org/UpdateSpeciment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteSpeciment">
      <soap12:operation soapAction="http://tempuri.org/DeleteSpeciment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataSpecimentName">
      <soap12:operation soapAction="http://tempuri.org/GetDataSpecimentName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataSpecimentStatus">
      <soap12:operation soapAction="http://tempuri.org/GetDataSpecimentStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataAllOrders">
      <soap12:operation soapAction="http://tempuri.org/GetDataAllOrders" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataAllTests">
      <soap12:operation soapAction="http://tempuri.org/GetDataAllTests" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddTest">
      <soap12:operation soapAction="http://tempuri.org/AddTest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateTest">
      <soap12:operation soapAction="http://tempuri.org/UpdateTest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteTest">
      <soap12:operation soapAction="http://tempuri.org/DeleteTest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebServiceHospital">
    <wsdl:port name="WebServiceHospitalSoap" binding="tns:WebServiceHospitalSoap">
      <soap:address location="https://localhost:44332/WebServiceHospital.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceHospitalSoap12" binding="tns:WebServiceHospitalSoap12">
      <soap12:address location="https://localhost:44332/WebServiceHospital.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>